.button_profile-edit {
  background-image: url('../../../images/profile__edit.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 24px;
  height: 24px;
}