.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 18px;
  row-gap: 8px;
}

@media (max-width: 920px) {
  .profile__info {
    margin-top: 26px;
    justify-content: center;
    column-gap: 10px;
  }
}